# SQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD='{PASSWORD}' # <-- Replace with your actual password
DB_NAME=book_store

# Session Configuration
SESSION_SECRET='{SESSION_SECRET}' # <-- Replace with a strong, unique secret for session management

# Server Configuration
PORT='{PORTNUMBER}' # <-- Replace with the desired port number

# Base URL for the application
BASE_URL='/'